---
export const prerender = true;

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import DownloadInput from '../components/DownloadInput.astro';
import FormatCards from '../components/FormatCards.astro';
import HowItWorks from '../components/HowItWorks.astro';
import WhyChooseUs from '../components/WhyChooseUs.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header />
  
  <main>
    <Hero>
      <DownloadInput />
    </Hero>
    
    <FormatCards />
    <HowItWorks />
    <WhyChooseUs />
    <FAQ />
  </main>
  
  <Footer />
</Layout>
